Repository ME-ICA/tedana, pull requests merged in 2019-12, with the labels that each got.

#435 [ENH] Adds maPCA decomposition algorithm
  tedana/decomposition/__init__.py
  tedana/decomposition/ma_pca.py
  tedana/decomposition/pca.py
  tedana/tests/data/tedana_outputs_verbose.txt
  tedana/tests/test_integration.py
  tedana/tests/test_mapca.py
  tedana/workflows/tedana.py
Labels: decomposition, enhancement

#493 [REF] Remove the sourceTEs option
  tedana/decomposition/pca.py
  tedana/workflows/tedana.py
Labels: decomposition, refactoring

#432 [ENH] Adds a scree plot showing metric values and variance sorted by Kappa.
  tedana/tests/data/cornell_three_echo_outputs.txt
  tedana/tests/data/fiu_four_echo_outputs.txt
  tedana/tests/data/nih_five_echo_outputs_verbose.txt
  tedana/viz.py
  tedana/workflows/tedana.py
Labels: enhancement, hackathon
